---
title: Über Uns
layout: simple
---

div.row
  img.pull-left.img-responsive.img-circle.img-simple.article src="images/about.jpg"

  div.article
    markdown:
        `Cloudburo Hunde News` ist eine Nachrichtenseite und richtet sich an Trainer und Halter von Hunden im deutschsprachigen Raum. Die Seite liefert Neuigkeiten und Meldungen rund um das Thema 'Hund'. Die Meldungen von den verschiedensten News Lieferanten werden mehrmals wöchtenlich gesichtet und alles was wichtig ist für den Umgang mit dem Hund wird aufgeschaltet. Die Seite bietet also einen aktuellen Überblick über relevante Informationen für Trainer und Halter von Hunden.
        
        Informationen, die auf die Seite gelangen, wurden zuvor vom `News Curation Team` mit der gebotenen Sorgfalt geprüft. Quellen werden stets genannt, Meinung und Bericht voneinander getrennt.
        
        Die ist ein untentgeltliches Angebot von [Cloudburo.net](https://cloudburo.net). Die Webseite basiert auf der [Cloudburo Blog Lösung](https://cloudburo.net/docs/products.html), welche Kleinstunternehmen einen einfachen und professionellen Webauftritt ermöglicht. 
        
        

      
