---
title: Welcome
layout: simple
---

div.row
  img.pull-left.img-responsive.img-thumbnail.article src="images/welcome.jpg"

  div.article
    markdown:
      ## Welcome to our new blog
      
      This is a the default page of the blog.

      
