---
title: Cloudburo Dog Newsletter
layout: simple
---

div.row
  img.pull-left.img-responsive.img-rounded.img-simple.article src="images/NewsletterSmall.jpg"

  div.article
    markdown:
        Der _Cloudburo Dog Newsletter_ ist ein aktueller und kostenloser Informationservice für Sie.
        
        Sie werden regelmässig per E-Mail über die neusten veröffentlichten Beiträge informiert. Bleiben Sie einfach und komfortabel up-to-date bezüglich Themen rund um den Hund. Der Newsletter wird in der Regel einmal pro Woche verschickt.
        
        ####[ICH MÖCHTE MICH REGISTRIEREN](http://eepurl.com/0taAb)